.logo-container {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-bottom: 40px;
}

.logo-text h1 {
  margin: 0;
  font-size: 28px;
}

.motto {
  margin: 0;
  font-size: 12px;
  letter-spacing: 1px;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}
#header-img {
  width: 60px;
  height: 60px;
  margin-left:200px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

#nav-bar {
  display: flex;
  justify-content: space-around;
}

.nav-link {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: black;
  border-top: 1px solid #ccc;
}

main {
  margin-top: 120px;
  margin-left: 250px;

}

#video {
  height: 560px;
  width: 100%;
  max-width: 315px;
}

@media (max-width: 600px) {
  body {
    background-color: #f5f5f5;
  }
}